<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ALICE.Properties.Plugin" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ALICE.Properties.Miscellanous" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ALICE.Properties.StandingReports" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ALICE.Properties.StandingOrders" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ALICE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ALICE.Properties.Plugin>
            <setting name="Sleep_PanelSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sleep_PipSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sleep_FireGroupSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sleep_ThrottleSpeed" serializeAs="String">
                <value>0</value>
            </setting>
        </ALICE.Properties.Plugin>
        <ALICE.Properties.Miscellanous>
            <setting name="FireGroup_Total" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FireGroup_Default" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NPC_Crew" serializeAs="String">
                <value>False</value>
            </setting>
        </ALICE.Properties.Miscellanous>
        <ALICE.Properties.StandingReports>
            <setting name="Report_NoFireZone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Report_TargetWanted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Report_TargetEnemy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Report_CollectedBounty" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Report_MaterialCollected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Report_StationStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Report_MaterialRefined" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Report_FuelScoop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Report_FuelStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Report_ShieldState" serializeAs="String">
                <value>True</value>
            </setting>
        </ALICE.Properties.StandingReports>
        <ALICE.Properties.StandingOrders>
            <setting name="Order_AutoSystemScan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Order_CombatPower" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Order_WeaponSafety" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Order_AutoDocking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Order_AutoHangerEntry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Order_AutoRearm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Order_AutoRefuel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Order_AutoRepair" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Order_PostHyperspaceSafety" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Order" serializeAs="String">
                <value>False</value>
            </setting>
        </ALICE.Properties.StandingOrders>
        <ALICE.Properties.Settings>
            <setting name="Filter_Cargo_Damaging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Filter_Cargo_Illegal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Filter_Cargo_Mission" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Filter_Cargo_PowerPlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Filter_Cargo_Stolen" serializeAs="String">
                <value>False</value>
            </setting>
        </ALICE.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
